*.pyc
*.npy
*.pth
*.whl
*.swp
*.pt
*.ckpt
*.log
*.tmp
.DS_Store
Thumbs.db

data/
ckpt/
work_dirs*/
dist_test/
vis/
val/
lib/
outputs/
runs/
wandb/
tensorboard/
tmp/

*.egg-info
build/
__pycache__/
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

job_scripts/
temp_ops/
